@page
@model AvailableModel

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Library</title>
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" asp-page="/Index">Library</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-page="/">Available<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/CheckedOut">Checked Out</a>
                            </li>
                            @* Eventually add some sort of basket selectable. *@
                        </ul>
                        @* Below form will search all books available or not, and present the status of the book. *@
                        <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    @foreach (Models.Book book in @Model.AvailableBooks) {
                        <li>@book.Name</li>
                    }
                </ul>
            </div>
            <div class="col">
                <ul>
                    @foreach (Models.Book book in @Model.AvailableBooks) {
                        <li>@book.Year</li>
                    }
                </ul>
            </div>
            <div class="col">
                <ul>
                    @foreach (Models.Book book in @Model.AvailableBooks) {
                        <li>@book.Author</li>
                    }
                </ul>
            </div>
            <div class="col">
                <ul>
                    @foreach (Models.Book book in @Model.AvailableBooks) {
                        <li>@book.CheckedOut</li>
                    }
                </ul>
            </div>
        </div>
    </div>
  </body>